mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  ::ng-deep .title {
    margin-left: 16px !important;
    color: var(--title-color);

    span:last-of-type {
      font-weight: 400;
      color: var(--text-disabled);
    }
  }
}

.mat-divider {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 2;
}
