<div class="amazon-smile">
  <a href="https://smile.amazon.de/ch/99-019-43218">
    <div class="text">
      <div class="support-wrapper">
        <div class="support">
          Unterstützen Sie
          <span style="display: inline-block;">
            Foerderverein Handballjugend Vaihingen
            e.V.,
          </span>
        </div>
      </div>
      <div class="when-shop">indem Sie auf <b>smile.amazon.de</b></div>
      <div class="donates"> einkaufen.</div>
    </div>
  </a>
</div>