<h1>Datenschutzerklärung</h1>
<p>
  Im Verein werden personengebundene Daten erhoben, verarbeitet und genutzt,
  sowohl unter Verwendung automatisierter Datenverarbeitungsanlagen als auch in
  manueller Dokumentation. Der Verein unterliegt damit den Anforderungen des
  Bundesdatenschutzgesetztes (BDSG) sowie der ab 25. Mai 2018 geltenden
  EU-Datenschutzgrundverordnung (EU-DSGVO). Nach § 10 Abs. 5 b) der
  Vereinssatzung hat der Hauptausschuss bei seiner Sitzung am 26. Februar 2018
  folgende Datenschutzordnung beschlossen:
</p>
<h3>§1 Regelungsbereich und Grundsätze</h3>
<ol>
  <li>
    <p>
      Mit Beitritt in den SV Vaihingen erklärt sich das Mitglied damit
      einverstanden, dass seine personenbezogenen Daten erhoben, verarbeitet und
      gespeichert werden. Der Verein erhebt diese Daten ausschließlich für den
      Zweck der Verfolgung der Vereinsziele und zur Mitgliederbetreuung und
      Verwaltung. Erhoben werden Name, Adresse, Geburtsdatum, Geschlecht,
      Ausbildungsstatus, Abteilungszugehörigkeit, Telefonnummer, Bankverbindung
      und Emailadresse. Diese Informationen werden in den EDV-Systemen der
      Geschäftsstelle gespeichert. Jedem Vereinsmitglied wird dabei eine Nummer
      zugeordnet.
    </p>
  </li>
  <li>
    <p>
      Vereinsmitglieder haben, mit Ausnahme der Funktionsträger des Vereins,
      keinen Zugriff auf die personengebundenen Daten anderer Mitglieder. Soweit
      im Einzelfall für die Organisation von Veranstaltungen notwendig, können
      jedoch Kontaktdaten in notwendigem Umfang an einzelne Mitglieder heraus
      gegeben werden, ohne dass diese Funktionsträger sind, soweit die jeweils
      Betroffenen zustimmen.
    </p>
  </li>
  <li>
    <p>
      Daten Dritter werden ausschließlich genutzt, soweit dies für die
      Verfolgung eigener Vereinsziele notwendig ist. Hierbei beschränkt sich die
      Nutzung auf diejenigen Zwecke, für die der Verein Daten erhoben oder
      erhalten hat.
    </p>
  </li>
  <li>
    <p>
      Der Verein erhebt Daten von anderen Personen als von Vereinsmitgliedern
      (Lieferanten, Gästen, Zuschauern, Besuchern, Teilnehmern an
      Veranstaltungen, Sponsoren, Spendern, Kursbesuchern), soweit dies für
      berechtigte Interessen des Vereins notwendig ist und keine besonderen
      Schutzbedürfnisse der Betroffenen bestehen. Bei Gästen, Zuschauern und
      Besuchern beschränkt sich dies im Regelfall auf die Legitimation der
      Anwesenheit, also Identifizierung als Angehöriger eines Vereinsmitglieds
      oder sonstiger Interessent. Bei Teilnehmern an Veranstaltungen, welche
      letztlich dem Versicherungsschutz des Vereins unterliegen, erhebt der
      Verein notwenige und freiwillige Daten (notwenige Daten: Name, Anschrift,
      Geburtsdatum; freiwillige Daten: Geschlecht, Telefonnummer,
      E-Mail-Adresse, Bekleidungsgrößen, sportartrelevante körperliche
      Beeinträchtigungen, Allergikern, Kontodaten, Teilnahme und Platzierungen
      an Wettkämpfen, sportliche Qualifikationen die außerhalb des Vereins
      erworben wurden).
    </p>
  </li>
  <li>
    <p>
      Der Verein erhebt und nutzt personenbezogene Daten von
      Vorstandsmitgliedern, Übungsleitern, Angestellten (Vollzeit, Teilzeit,
      Mini-Job), FSJlern, Kassenprüfern sowie weiteren Funktionsträgern des
      Vereins soweit diese Daten für die Verwirklichung der Vereinsziele, die
      Betreuung von Mitgliedern sowie die Verwaltung des Vereins notwendig sind.
    </p>
  </li>
  <li>
    <p>
      Der Verein erhebt und speichert im Rahmen eines Zugriffsprotokolls direkt
      beim Provider der Homepage die ungekürzte IP Adresse, Datum und Uhrzeit
      des Zugriffs, sowie die URL, auf die zugegriffen wurde. Dies dient
      ausschließlich dazu, unberechtigte Zugriffe zu erkennen und durch
      geeignete Gegenmaßnahem auszuschließen. Als unberechtigte Zugriffe werden
      insbesondere DDOS-Attacken, Zugriffsversuche auf geschützte Bereiche sowie
      Versuche der Übermittlung von Spam über das Kontaktformular bewertet. Die
      Zugriffsprotokolle werden nach 30 Tagen automatisch gelöscht. Eine
      Auswertung findet nur statt, wenn sich anhand der Protokollierung ein
      Anfangsverdacht auf versuch der missbräuchlichen Erlangung von
      personenbezogenen Daten ergibt.
    </p>
  </li>
  <li>
    <p>
      Die Offenbarung personenbezogener Daten in Aushängen und
      Vereinspublikationen beschränkt sich auf die Bekanntgabe von
      Mannschaftsaufstellungen, Spielergebnissen und der dienstlichen
      Erreichbarkeit von Funktionsträgern. Bei Teilnahme der Vereinsmitglieder
      an öffentlichen Veranstaltungen und Wettkämpfen werden die Namen der
      Teilnehmer und deren Ergebnisse bekannt gegeben, Soweit für die Wertung
      relevant, werden zusätzlich Geschlecht und Jahrgang des Mitglieds bekannt
      gegeben.
    </p>
  </li>
  <li>
    <p>
      Weiterhin werden im Rahmen von Ligaspielen, Turnieren oder Wettkämpfen
      personenbezogene Daten an Verbände gemeldet. Übermittelt werden dabei ggf.
      Name, Alter, Geschlecht und Mitgliedsnummer, bei Mitgliedern mit
      besonderen Aufgaben (z.B. Vorstandsmitgliedern) die vollständige Adresse
      mit Telefonnummer, Emailadresse sowie der Bezeichnung ihrer Funktion im
      Verein.
    </p>
  </li>
  <li>
    <p>
      Die Veröffentlichung von Bildern ist in der Vereinssatzung unter §7 Abs.6
      geregelt.
    </p>
  </li>
  <li>
    <p>Eine Datenübermittlung an Dritte findet nicht statt.</p>
  </li>
  <li>
    <p>
      Verlangen Gemeindeverwaltungen im Rahmen der Nachweisführung der
      ordnungsgemäßen Verwendung von Zuwendungen die Vorlage von Listen mit
      Namen der Betroffenen, so ist der Verein zur Übermittlung entsprechender
      notwendiger Daten berechtigt.
    </p>
  </li>
  <li>
    <p>
      Im Internet wird von Funktionsträgern der Vor- und Zuname veröffentlicht.
      Zur Kommunikation mit Funktionsträgern wird ein Kontaktformular über eine
      vereinseigene Mailadresse bereitgestellt. Dessen Inhalt über den
      Verantwortlichen für die Datenverarbeitung an den jeweiligen
      Funktionsträger weitergeleitet wird. Weitergehende personengebundene Daten
      der Funktionsträger (Vita) werden nur mit ausdrücklicher Genehmigung im
      Internet veröffentlicht.
    </p>
  </li>
  <li>
    <p>
      Pressemitteilungen und Auskünfte gehren zur normalen Öffentlichkeitsarbeit
      eines Vereins. Personenbezogene Daten werden in diesem Rahmen nur dann
      veröffentlicht, wenn es sich um einen Bericht über eine sowieso
      öffentliche Veranstaltung handelt und schutzwürdige Interessen der
      Mitglieder dem nicht entgegenstehen. Das einzelne Mitglied kann einer
      solchen Veröffentlichung jederzeit widersprechen.
    </p>
  </li>
  <li>
    <p>
      Anhand dieser Datenschutzordnung werden die Vereinsmitglieder über die
      Datennutzung des SV Vaihingen 1889 e.V. informiert.
    </p>
  </li>
</ol>
<h3>§2 Bestellung eines Datenschutzbeauftragten</h3>
<p>
  Zur Gewährleistung des Datenschutzes wird nach § 37 DSGVO ein
  Datenschutzbeauftragter bestellt. Dieser ist dem Vorstand unmittelbar
  unterstellt und in Ausübung seiner Fachkunde auf dem Gebiet des Datenschutzes
  weisungsfrei. Er hat uneingeschränkten Zugang zu den erhobenen Daten und ist
  zur Verschwiegenheit über die Identität des Betroffenen sowie über Umstände,
  die Rückschlüsse auf den Betroffenen zulassen, verpflichtet, soweit er nicht
  davon durch den Betroffenen befreit wird. Jedes Mitglied hat das Recht, sich
  jederzeit mit Fragen und Anträgen an den Datenschutzbeauftragten zu wenden,
  der Auskunft über die wesentlichen Bestimmungen der DSGVO erteilt. Soweit die
  Voraussetzungen für die Bestellung eines Datenschutzbeauftragten nach dem BDSG
  nicht gegeben sind, hat der Vorstand der Gliederung die nachfolgenden
  Pflichten zu erfüllen.
</p>
<h3>§3 Erstellen und aktualisieren der Verfahrensverzeichnisse</h3>
<ol>
  <li>
    <p>
      Zur Feststellung datenschutzkonformer Datenverarbeitung werden
      Verfahrensverzeichnisse geführt. Hierbei ist für jedes Verfahren ein
      eigenes Verzeichnis zu erstellen und regelmäßig (mindestens jährlich oder
      bei Veränderung) auf Aktualität und Vollständigkeit zu prüfen und zu
      ergänzen. Unter Verfahren ist die Gesamtheit an Verarbeitungen zu
      verstehen, mit denen eine oder mehrere miteinander verbundene
      Zweckbestimmung(en) realisiert werden sollen. Ein Verfahren kann danach
      eine Vielzahl von Datenverarbeitungsdateien umfassen.
    </p>
  </li>
  <li>
    <p>
      Im Verfahrensverzeichnis werden alle aktuellen Zugriffsberechtigungen auf
      personenbezogene Daten aufgeführt.
    </p>
  </li>
  <li>
    <p>
      Verantwortlich für die Erstellung des Verfahrensverzeichnisses ist der
      jeweils durch den Vorstand bestimmte Verfahrensverantwortliche. Dieser
      legt, soweit bestellt, dem Datenschutzbeauftragten, das
      Verfahrensverzeichnis vor. Ist ein Datenschutzbeauftragter nicht bestellt,
      hat der Vorstand die Verfahrensverzeichnisse zu erstellen und zu prüfen.
    </p>
  </li>
  <li>
    <p>
      Ergibt die Prüfung des Verfahrensverzeichnisses, dass die Erhebung,
      Speicherung oder Nutzung personenbezogener Daten (Datenverarbeitung)
      unzulässig ist, ist das Verfahren datenschutzkonform umzustrukturieren.
      Ist auch dies nicht möglich, ist die Datenverarbeitung einzustellen und
      erhobene Daten unverzüglich zu löschen.
    </p>
  </li>
</ol>
<h3>§4 Vorabkontrolle</h3>
<p>
  Wenn besondere Risiken für die Rechte und Freiheiten des Betroffenen durch die
  Datenverarbeitung drohen, ist eine Vorabkontrolle durch den
  Datenschutzbeauftragten gemäß §37 DSGVO, anderenfalls durch den Vorstand
  durchzuführen. Dies ist insbesondere dann gegeben, wenn besondere Arten
  personenbezogener Daten nach EU-DSGVO verarbeitet werden oder die Verarbeitung
  der Daten der Bewertung der Persönlichkeit des Betroffenen dienen soll
  einschließlich seiner Fähigkeiten, seiner Leistung und seines Verhaltens.
  Besondere Arten personenbezogener Daten sind Angaben über die rassische und
  ethnische Herkunft, politische Meinungen, religiöse oder philosophische
  Überzeugungen, Gewerkschaftszugehörigkeit, Gesundheit oder Sexualleben.
</p>
<h3>§5 Löschen und Sperren</h3>
<ol>
  <li>
    <p>
      Beim Austritt oder Tod werden Name, Adresse und Geburtsjahr des Mitglieds
      aus der Mitgliederliste gelöscht. Personenbezogene Daten es austretenden
      Mitglieds, die Kassenverwaltung betreffen, werden gemäß der
      steuergesetzlichen Bestimmungen bis zu zehn Jahre ab der schriftlichen
      Bestätigung des Austritts durch die Geschäftsstelle aufbewahrt. Beim
      Austritt oder Tod werden Name, Adresse und Geburtsjahr des Mitglieds aus
      der Mitgliederliste gelöscht. Personenbezogene Daten es austretenden
      Mitglieds, die Kassenverwaltung betreffen, werden gemäß der
      steuergesetzlichen Bestimmungen bis zu zehn Jahre ab der schriftlichen
      Bestätigung des Austritts durch die Geschäftsstelle aufbewahrt.
    </p>
  </li>
  <li>
    <p>
      Die Voraussetzungen der Sperrung und Löschung sind in Art 16 und 17
      EU-DSGVO geregelt.
    </p>
  </li>
  <li>
    <p>
      Der Vorstand legt in Zusammenarbeit mit dem Datenschutzbeauftragten die
      regelmäßigen Löschfristen für die einzelnen Verfahren schriftlich fest.
    </p>
  </li>
</ol>
<h3>§6 Technische und organisatorische Maßnahmen</h3>
<ol>
  <li>
    <p>
      Der Vorstand trifft in Zusammenarbeit mit dem Datenschutzbeauftragten für
      jedes Verfahren technische und organisatorische Maßnahmen im Sinne DSGVO.
      Darüber hinaus werden allgemeine technische und organisatorische Maßnahmen
      dokumentiert.
    </p>
  </li>
  <li>
    <p>
      Der Verein trifft Maßnahmen nach aktuellem Stand der Technik, um die
      Sicherheit personengebundener Daten in automatisierten
      Datenverarbeitungssystemen, sowie manuellen Dokumenten zu gewährleisten.
      Hierzu gehören:
    </p>
    <ol style="list-style-type: lower-alpha">
      <li>
        Zugangskontrolle und Beschränkungen zu den Datenverarbeitungssystemen
        (online/offline) über Benutzername und Passwort
      </li>
      <li>
        Verschlüsselte Übertragung bei der Datenerhebung über Online-Formulare
      </li>
      <li>
        Verschlüsselte Übertragung bei der Bearbeitung, Speicherung und Nutzung
        in einem Online-Datenverarbeitungssystem
      </li>
      <li>
        Verschlüsselte Übertragung bei der Bearbeitung, Speicherung und Nutzung
        in einem Online-Datenverarbeitungssystem
      </li>
      <li>
        Verschlüsselte Kommunikation über Mail-Accounts des Vereins
        (@sv-vaihingen.de)
      </li>
      <li>
        Zugangskontrolle und -beschränkung zu manuellen Dokumenten
        (abschließbare Schränke)
      </li>
      <li>
        Zentrale Datenablage auf einem Server mit:
        <ol style="list-style-type: lower-roman">
          <li>Festplattenredundanz</li>
          <li>
            Backupkonzept mit verschlüsselten Datenträgern die extern aufbewahrt
            werden können (im wöchentlichen Wechsel)
          </li>
          <li>
            Berechtigungsstruktur welches das Vereinszugriffskonzept
            wiederspiegelt.
          </li>
          <li>Mandantenfähigkeit</li>
        </ol>
      </li>
      <li>
        irewallschutz für Ein- und ausgehend Datenverkehr mit Protokollierung
        von Angriffen
      </li>
      <li>Sichere Dokumentation der Zugriffsverfahren inkl. Zugangsdaten</li>
    </ol>
  </li>
  <li>
    <p></p>
    <p>
      Ihre uns zur Verfügung gestellten persönlichen Daten werden durch
      Ergreifung aller technischen sowie organisatorischen Sicherheitsmaßnahmen
      so gesichert, dass sie für den Zugriff unberechtigter Dritter unzugänglich
      sind. Bei Versendung von sehr sensiblen Daten oder Informationen ist es
      empfehlenswert, den Postweg zu nutzen, da eine vollständige
      Datensicherheit per E-Mail nicht gewährleistet werden kann.
    </p>
  </li>
</ol>
<h3>§7 Homepage</h3>
<ol>
  <li>
    <p>
      Der Websitebetreiber erhebt, nutzt und gibt Ihre personenbezogenen Daten
      nur dann weiter, wenn dies im gesetzlichen Rahmen erlaubt ist oder Sie in
      die Datenerhebung einwilligen. Als personenbezogene Daten gelten sämtliche
      Informationen, welche dazu dienen, Ihre Person zu bestimmen und welche zu
      Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre
      E-Mail-Adresse und Telefonnummer.
    </p>
  </li>
  <li>
    <p>
      Wir, der Websitebetreiber bzw. Seitenprovider, erheben aufgrund unseres
      berechtigten Interesses (s. Art. 6 Abs. 1 lit. f. DSGVO) Daten über
      Zugriffe auf die Website und speichern diese als „Server-Logfiles“ auf dem
      Server der Website ab. Folgende Daten werden so protokolliert:
    </p>
    <ol style="list-style-type: lower-alpha">
      <li>Besuchte Website</li>
      <li>Uhrzeit zum Zeitpunkt des Zugriffes</li>
      <li>Menge der gesendeten Daten in Byte</li>
      <li>Quelle/Verweis, von welchem Sie auf die Seite gelangten</li>
      <li>Verwendeter Browser</li>
      <li>Verwendetes Betriebssystem</li>
      <li>Verwendete IP-Adresse</li>
    </ol>
  </li>
  <li>
    <p></p>
    <p>
      Die Server-Logfiles werden für maximal 7 Tage gespeichert und anschließend
      gelöscht. Die Speicherung der Daten erfolgt aus Sicherheitsgründen, um z.
      B. Missbrauchsfälle aufklären zu können. Müssen Daten aus Beweisgründen
      aufgehoben werden, sind sie solange von der Löschung ausgenommen bis der
      Vorfall endgültig geklärt ist.
    </p>
  </li>
  <li>
    <p>
      Diese Website verwendet Cookies zur pseudonymisierten Reichweitenmessung,
      die entweder von unserem Server oder dem Server Dritter an den Browser des
      Nutzers übertragen werden. Bei Cookies handelt es sich um kleine Dateien,
      welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese
      Dateien zu. Durch den Einsatz von Cookies erhöht sich die
      Benutzerfreundlichkeit und Sicherheit dieser Website.
    </p>
  </li>
  <p>
    Falls Sie nicht möchten, dass Cookies zur Reichweitenmessung auf Ihrem
    Endgerät gespeichert werden, können Sie dem Einsatz dieser Dateien hier
    widersprechen:
  </p>
  <ol style="list-style-type: lower-alpha">
    <li>
      Cookie-Deaktivierungsseite der Netzwerkwerbeinitiative:
      http://optout.networkadvertising.org/?c=1#!/
    </li>
    <li>
      Cookie-Deaktivierungsseite der US-amerikanischen Website:
      http://optout.aboutads.info/?c=2#!/
    </li>
    <li>
      Cookie-Deaktivierungsseite der europäischen Website:
      http://optout.networkadvertising.org/?c=1#!/
    </li>
  </ol>
  <p></p>
  <p>
    Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen.
    Hinweis: Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser
    Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende
    Einstellungen vornehmen.
  </p>
  <li>
    <p>
      Nehmen Sie mit uns als Websitebetreiber durch die angebotenen
      Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert,
      damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage
      zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten
      nicht an Dritte weitergegeben.
    </p>
  </li>
  <li>
    <p>
      Content-Delivery-Network von Cloudflare<br />
      Wir setzen ein so genanntes "Content Delivery Network" (CDN), angeboten
      von Cloudflare, Inc., 101 Townsend St, San Francisco, CA 94107, USA, ein.
      Cloudflare ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet
      hierdurch eine Garantie, das europäische Datenschutzrecht einzuhalten (<a class="animated"
        href="https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0&status=Active</a>).
      Ein CDN ist ein Dienst, mit dessen Hilfe Inhalte unseres
      Onlineangebotes, insbesondere große Mediendateien, wie Grafiken oder
      Skripte mit Hilfe regional verteilter und über das Internet verbundener
      Server, schneller ausgeliefert werden. Die Verarbeitung der Daten der
      Nutzer erfolgt alleine zu den vorgenannten Zwecken und der
      Aufrechterhaltung der Sicherheit und Funktionsfähigkeit des CDN. Die
      Nutzung erfolgt auf Grundlage unserer berechtigten Interessen, d.h.
      Interesse an einer sicheren und effizienten Bereitstellung, Analyse sowie
      Optimierung unseres Onlineangebotes gem. Art. 6 Abs. 1 lit. f. DSGVO.
      Weitere Informationen erhalten Sie in der Datenschutzerklärung von
      Cloudflare:
      <a class="animated"
        href="https://www.cloudflare.com/security-policy">https://www.cloudflare.com/security-policy</a>.
    </p>
  </li>
  <li>
    <p>
      Google Analytics<br />
      Diese Website benutzt Google Analytics, einen Webanalysedienst der Google
      Inc. („Google“). Google Analytics verwendet sog. „Cookies“, d. h.
      Textdateien, die auf Ihrem Computer gespeichert werden und die eine
      Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den
      Cookie erzeugten Informationen über Ihre Benutzung diese Website
      (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den
      USA übertragen und dort gespeichert. Google wird diese Informationen
      benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die
      Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um
      weitere mit der Websitenutzung und der Internetnutzung verbundene
      Dienstleistungen zu erbringen. Auch wird Google diese Informationen
      gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben
      oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google
      wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in
      Verbindung bringen. Sie können die Installation der Cookies durch eine
      entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen
      Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht
      sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch
      die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über
      Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise
      und zu dem zuvor benannten Zweck einverstanden.
    </p>
  </li>
  <li>
    <p>
      Google Fonts<br />
      Wir binden die Schriftarten ("Google Fonts") des Anbieters Google LLC,
      1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein.
      Datenschutzerklärung:
      <a class="animated" href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>,
      Opt-Out:
      <a class="animated"
        href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>.
    </p>
  </li>
  <li>
    <p>
      Google Maps<br />
      Wir binden die Landkarten des Dienstes “Google Maps” des Anbieters Google
      LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein. Zu den
      verarbeiteten Daten können insbesondere IP-Adressen und Standortdaten der
      Nutzer gehören, die jedoch nicht ohne deren Einwilligung (im Regelfall im
      Rahmen der Einstellungen ihrer Mobilgeräte vollzogen), erhoben werden. Die
      Daten können in den USA verarbeitet werden. Datenschutzerklärung:
      <a class="animated" href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>,
      Opt-Out:
      <a class="animated"
        href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>.
    </p>
  </li>
  <li>
    <p>
      Verwendung von Facebook Social Plugins<br />
      Wir nutzen auf Grundlage unserer berechtigten Interessen (d.h. Interesse
      an der Analyse, Optimierung und wirtschaftlichem Betrieb unseres
      Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Social Plugins
      ("Plugins") des sozialen Netzwerkes facebook.com, welches von der Facebook
      Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland
      betrieben wird ("Facebook"). Hierzu können z.B. Inhalte wie Bilder, Videos
      oder Texte und Schaltflächen gehören, mit denen Nutzer Inhalte dieses
      Onlineangebotes innerhalb von Facebook teilen können. Die Liste und das
      Aussehen der Facebook Social Plugins kann hier eingesehen werden:
      <a class="animated"
        href="https://developers.facebook.com/docs/plugins/">https://developers.facebook.com/docs/plugins/</a>.
    </p>
    <p>
      Facebook ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet
      hierdurch eine Garantie, das europäische Datenschutzrecht einzuhalten (<a class="animated"
        href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>).
    </p>
    <p>
      Wenn ein Nutzer eine Funktion dieses Onlineangebotes aufruft, die ein
      solches Plugin enthält, baut sein Gerät eine direkte Verbindung mit den
      Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook direkt
      an das Gerät des Nutzers übermittelt und von diesem in das Onlineangebot
      eingebunden. Dabei können aus den verarbeiteten Daten Nutzungsprofile der
      Nutzer erstellt werden. Wir haben daher keinen Einfluss auf den Umfang der
      Daten, die Facebook mit Hilfe dieses Plugins erhebt und informiert die
      Nutzer daher entsprechend unserem Kenntnisstand.
    </p>
    <p>
      Durch die Einbindung der Plugins erhält Facebook die Information, dass ein
      Nutzer die entsprechende Seite des Onlineangebotes aufgerufen hat. Ist der
      Nutzer bei Facebook eingeloggt, kann Facebook den Besuch seinem
      Facebook-Konto zuordnen. Wenn Nutzer mit den Plugins interagieren, zum
      Beispiel den Like Button betätigen oder einen Kommentar abgeben, wird die
      entsprechende Information von Ihrem Gerät direkt an Facebook übermittelt
      und dort gespeichert. Falls ein Nutzer kein Mitglied von Facebook ist,
      besteht trotzdem die Möglichkeit, dass Facebook seine IP-Adresse in
      Erfahrung bringt und speichert. Laut Facebook wird in Deutschland nur eine
      anonymisierte IP-Adresse gespeichert.
    </p>
    <p>
      Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und
      Nutzung der Daten durch Facebook sowie die diesbezüglichen Rechte und
      Einstellungsmöglichkeiten zum Schutz der Privatsphäre der Nutzer, können
      diese den Datenschutzhinweisen von Facebook entnehmen:
      <a class="animated" href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a>.
    </p>
    <p>
      Wenn ein Nutzer Facebookmitglied ist und nicht möchte, dass Facebook über
      dieses Onlineangebot Daten über ihn sammelt und mit seinen bei Facebook
      gespeicherten Mitgliedsdaten verknüpft, muss er sich vor der Nutzung
      unseres Onlineangebotes bei Facebook ausloggen und seine Cookies löschen.
      Weitere Einstellungen und Widersprüche zur Nutzung von Daten für
      Werbezwecke, sind innerhalb der Facebook-Profileinstellungen möglich:
      <a class="animated" href="https://www.facebook.com/settings?tab=ads">https://www.facebook.com/settings?tab=ads</a>
      oder über die US-amerikanische Seite
      <a class="animated" href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a>
      oder die EU-Seite
      <a class="animated" href="http://www.youronlinechoices.com/">http://www.youronlinechoices.com/</a>. Die
      Einstellungen erfolgen plattformunabhängig, d.h. sie werden für
      alle Geräte, wie Desktopcomputer oder mobile Geräte übernommen.
    </p>
  </li>
  <li>
    Auf einigen unserer Seiten verwenden wir sog. "Session-Cookies", um Ihnen
    die Nutzung unserer Webseiten zu erleichtern. Dabei handelt es sich um
    kleine Textdateien, die nur für die Dauer Ihres Besuchs unserer Webseite auf
    Ihrer Festplatte hinterlegt und abhängig von der Einstellung Ihres
    Browser-Programms beim Beenden des Browsers wieder gelöscht werden. Diese
    Cookies rufen keine auf Ihrer Festplatte über Sie gespeicherten
    Informationen ab und beeinträchtigen nicht Ihren PC oder ihre Dateien. Die
    meisten Browser sind so eingestellt, dass sie Cookies automatisch
    akzeptieren. Sie können das Speichern von Cookies jedoch deaktivieren oder
    ihren Browser so einstellen, dass er Sie auf die Sendung von Cookies
    hinweist.
  </li>
</ol>
<h3>§8 Nutzung privater Endgeräte zu Vereinszwecken</h3>
<ol>
  <li>
    <p>
      Private Endgeräte dürfen nur mit schriftlich erteilter Einwilligung zur
      Verarbeitung personenbezogener Daten verwendet werden. Eine Einwilligung
      ist zu versagen, soweit es sich um besondere Arten personenbezogener Daten
      nach § 3 Abs. 9 BDSG, personenbezogene Daten, die einem Berufsgeheimnis
      unterliegen, personenbezogene Daten, die sich auf strafbare Handlungen
      oder Ordnungswidrigkeiten oder den Verdacht strafbarer Handlungen oder
      Ordnungswidrigkeiten beziehen, oder personenbezogene Daten zu Bank- oder
      Kreditkartenkonten handelt.
    </p>
  </li>
  <li>
    <p>
      Im Übrigen ist durch geeignete Maßnahmen nach § 6 dieser Ordnung
      sicherzustellen, dass eine unbefugte Nutzung oder ein Abhandenkommen der
      Daten ausgeschlossen ist.
    </p>
  </li>
</ol>
<h3>§9 Sicherung der Betroffenenrechte</h3>
<ol>
  <li>
    <p>
      Alle Personen, die Zugang zu Mitgliederdaten haben, werden schriftlich auf
      die Wahrung des Datengeheimnisses verpflichtet
    </p>
  </li>
  <li>
    <p>
      Wir werden diese Richtlinien zum Schutz Ihrer persönlichen Daten von Zeit
      zu Zeit aktualisieren. Sie sollten sich diese Richtlinien gelegentlich
      ansehen, um auf dem Laufenden darüber zu bleiben, wie wir Ihre Daten
      schützen und die Inhalte unserer Website stetig verbessern. Sollten wir
      wesentliche Änderungen bei der Sammlung, der Nutzung und/oder der
      Weitergabe der uns von Ihnen zur Verfügung gestellten personenbezogenen
      Daten vornehmen, werden wir Sie durch einen eindeutigen und gut sichtbaren
      Hinweis auf der Website darauf aufmerksam machen. Mit der Nutzung der
      Webseite erklären Sie sich mit den Bedingungen dieser Richtlinien zum
      Schutz persönlicher Daten einverstanden.
    </p>
  </li>
</ol>
<br /><br />
<p>
  Dieser Text basiert auf einem durch den
  <a class="animated" href="https://www.hanabi-pirna.de/" target="_blank">SFV Feuerblume e.V.</a>
  unter einer
  <a class="animated" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA 4.0 Lizenz</a>
  veröffentlichten Dokument und wurde individuell angepasst.
</p>