<div class="top">
  <div class="block">
    <label>Links</label>
    <a>Hauptverein</a>
    <a>Handballverband Württemberg</a>
    <a>Amazon Smilie</a>
  </div>
  <div class="block">
    <label>Anfarten</label>
    <a>Sporthalle Hegel-Gymnasium</a>
    <a>Sporthalle Fanny-Leicht-Gymnasium</a>
  </div>
  <div class="social-media"></div>
</div>
<div class="bottom">
  <span>© SV Vaihingen Handball</span>
  <mat-divider [vertical]="true"></mat-divider>
  <a routerLink="impressum">Impressum</a>
  <mat-divider [vertical]="true"></mat-divider>
  <a routerLink="datenschutz">Datenschutzerklärung</a>
</div>