:host {
  display: block;
}

.tab-icon {
  margin-right: 8px;
}

::ng-deep .team-tabs {
  margin-top: 8px;
  margin-right: -32px;
  margin-left: -32px;

  .mat-tab-header,
  .hvw-table {
    margin-right: 32px !important;
    margin-left: 32px !important;
  }

  @media (max-width: 600px) {
    margin-right: -16px;
    margin-left: -16px;

    .mat-tab-header,
    .hvw-table {
      margin-right: 16px !important;
      margin-left: 16px !important;
    }
  }
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}
