:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.sheet-header {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 16px 8px 16px 16px;
}

.sheet-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  flex: 1 1 auto;
}

.sheet-body {
  flex: 1;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
}

.sheet-bottom {
  overflow: auto;
}
