<dialog (closeDialog)="close()">
  <dialog-title>Passwort zurücksetzen</dialog-title>
  <dialog-body>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input [formControl]="passwordControl" [type]="hidePassword ? 'password' : 'text'" matInput />
      <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix>
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-list-item>
      <h4 matLine>Nutzerkonto</h4>
      <p matLine>{{ data.user.email }}</p>
    </mat-list-item>
  </dialog-body>
  <dialog-actions>
    <button (click)="close()" mat-button>Abbrechen</button>
    <button color="primary" [disabled]="invalidOrNotDirty" [mat-dialog-close]="passwordControl.value" mat-flat-button>
      Speichern
    </button>
  </dialog-actions>
</dialog>