.image {
  display: flex;
  box-sizing: border-box;
  border: solid 2px;
  border-color: #e0e0e0;
  border-radius: 8px;

  ::ng-deep .mat-list-item-content {
    width: 100%;
  }

  .size {
    color: var(--text-inactive);
  }
}
