.mat-expansion-panel {
  margin: 16px 0;
  border-radius: 16px !important;
}

.mat-expansion-panel-header-title {
  height: 18px;

  shimmer-placeholder {
    width: 215px;
    height: 18px;
  }
}

.mat-list-base {
  padding-top: 0;
  .mat-list-item {
    height: 38px;
    ::ng-deep .mat-list-item-content {
      padding: 0 !important;
    }
  }
}
