.mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f6f7f9;
}

.mat-sidenav {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;

  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.mat-sidenav-content {
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  .content {
    flex: 1;
  }

  .router-outlet {
    overflow: auto;
    position: relative;
    // stop: 103px;
    height: calc(100% - 103px);
    flex: 1;
  }
}

.mat-spinner {
  margin-top: 56px;
}
