<form class="edit-training-time" autocomplete="off" [formGroup]="editTrainingTimeForm"
  errorGroupName="editTrainingTime">
  <mat-form-field class="location">
    <mat-label>Halle</mat-label>
    <input formControlName="location" matInput>
  </mat-form-field>
  <mat-form-field class="startTime">
    <mat-label>Beginn</mat-label>
    <input formControlName="startTime" type="time" matInput>
  </mat-form-field>
  <mat-form-field class="endTime">
    <mat-label>Ende</mat-label>
    <input formControlName="endTime" type="time" matInput>
  </mat-form-field>
</form>
<button color="primary" [disabled]="invalidOrNotDirty" (click)="update()" mat-button>
  Aktualisieren
</button>