:host {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

callout {
  display: block;
  margin: 36px auto;
}

.encounters {
  position: relative;

  h2 {
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: 300;
    margin: 16px 0;
    height: 30px;
    line-height: 30px;

    .shimmer-placeholder {
      height: 24px;
      width: 235px;
    }
  }

  games {
    ::ng-deep game-card {
      margin: 16px 0;
    }
  }

  game-card {
    margin: 16px 0;
  }
}
