<dialog (closeDialog)="close()">
  <dialog-title> Ansprechpartner {{ isCreateDialog ? 'erstellen' : 'bearbeiten' }} </dialog-title>
  <dialog-body>
    <form autocomplete="off" [formGroup]="categoryForm" errorGroupName="createOrEditContactPerson">
      <mat-form-field class="name">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
        <mat-error errorTailor></mat-error>
      </mat-form-field>
    </form>
  </dialog-body>
  <dialog-actions>
    <button (click)="close()" mat-button>Abbrechen</button>
    <button color="primary" [mat-dialog-close]="categoryForm.value" [disabled]="invalidOrNotDirty" mat-flat-button>
      Speichern
    </button>
  </dialog-actions>
</dialog>