<dialog (closeDialog)="close()">
  <dialog-title>
    Sortierung ändern
  </dialog-title>
  <dialog-body>
    <div class="teams" (cdkDropListDropped)="drop($event)" cdkDropList>
      <div class="team" *ngFor="let team of teams" cdkDragLockAxis="y" cdkDrag>
        <div class="title">
          <div class="name">{{ team.name }}</div>
          <div class="abbreviation">({{ team.abbreviation }})</div>
        </div>
        <mat-icon class="drag" cdkDragHandle>drag_handle</mat-icon>
      </div>
    </div>
  </dialog-body>
  <dialog-actions>
    <button (click)="close()" mat-button>Abbrechen</button>
    <button color="primary" (click)="save()" mat-flat-button>Speichern</button>
  </dialog-actions>
</dialog>