<h1>Orga Team</h1>
<orga-image></orga-image>
<div class="orga-text">
  <p>
    Der Geruch von Kaffee liegt in der Luft, das Orga Team verzaubert uns mit
    diesem Duft. Für die Verpflegung sorgen Sie, hungrig und durstig bleibt man
    da nie.
  </p>
  <p>
    Die roten Polos sind Ihr Zeichen, wenn Sie uns die Brötchen streichen. Dank
    Ihnen ist die Auswahl groß, und schmecken tut es auch famos.
  </p>
  <p>
    Freiwillig sind Sie hier am schaffen, das würde echt nicht jeder machen.
    Doch sie haben Spaß am arbeiten hier, und köpfen dann auch gern mal nen
    Bier.
  </p>
  <p>
    Ist dann der erste Sekt am Start, geht es los mit voller Fahrt, immer
    freundlich und gespannt, feiern Sie am Spielfeldrand.
  </p>
  <p>
    In beiden Hallen stets bereit, da bleibt kein Platz für Müdigkeit. Selbst
    für nur ein einzges Spiel, taugt die Bewirtung wirklich viel.
  </p>
  <p>
    Ihr seid fester Bestandteil in unserm Verein, denn gewinnen und Spaß ham,
    das geht nicht allein. Wir hoffen Ihr bleibt uns noch lange erhalten, macht
    weiter mit Bier und Brötchen verwalten.
  </p>
  <p>
    Durch euch haben wir schon besonnen, das ein oder andere Spielchen gewonnen.
    Ihr seid einfach Spitze, ihr seid eine Bank, und dafür gebührt euch auch
    echt größter Dank
  </p>
</div>
<orga-contact></orga-contact>