<h1>Downloads</h1>
<mat-list>
  <h3 matSubheader>Allgemein</h3>
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h3 matLine>Hallenliste</h3>
    <p matLine>Liste aller Hallen im HVW-Gebiet</p>
    <a href="https://www.svv-handball.de/docs/Hallenliste.xls" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h3 matLine>Jugendkonzept</h3>
    <a href="https://www.svv-handball.de/docs/Jugendkonzept.pdf" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>psychology</mat-icon>
    <h3 matLine>Mindchange Zusammenfassung</h3>
    <a href="https://www.svv-handball.de/docs/Zusammenfassung_Mindchange.pdf" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>coronavirus</mat-icon>
    <h3 matLine>Hygienekonzept</h3>
    <a href="https://www.svv-handball.de/docs/Konzept_Trainingsaufnahme_Handball_V2.7.pdf" target="_blank"
      mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <h3 matSubheader>Abteilungsbeitrag</h3>
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h3 matLine>Abteilungsbeitrag</h3>
    <a href="https://www.svv-handball.de/docs/Abteilungsbeitrag.pdf" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h3 matLine>Härtefallantrag Abteilungsbeitrag</h3>
    <a href="https://www.svv-handball.de/docs/Haertefallantrag.pdf" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h3 matLine>Beitrittserklärung SV Vaihingen</h3>
    <a href="https://www.svv-handball.de/docs/Beitrittserkl%C3%A4rung.pdf" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <h3 matSubheader>Förderverein Handballjugend Vaihingen e.V.</h3>
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h3 matLine>Beitrittserklärung</h3>
    <a href="https://www.svv-handball.de/docs/Beitrittserklärung_Förderverein.pdf" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h3 matLine>Antrag auf Förderung</h3>
    <a href="https://www.svv-handball.de/docs/Antrag_Förderung.pdf" target="_blank" mat-icon-button>
      <mat-icon>get_app</mat-icon>
    </a>
  </mat-list-item>
</mat-list>