<dialog (closeDialog)="close(false)">
  <dialog-title>Begegnungen aktualisieren</dialog-title>
  <dialog-body>
    <callout type="info">
      Das aktualisieren der Begegnungen kann einige Minuten in anspruch nehmen. Alle zuvor
      gespeicherten Spiele werden gelöscht und anschließend ersetzt.
    </callout>
  </dialog-body>
  <dialog-actions>
    <button (click)="close(false)" mat-button>Abbrechen</button>
    <button color="primary" (click)="close(true)" mat-flat-button>Aktualisieren</button>
  </dialog-actions>
</dialog>